@import "colors";
.header {
  border: 0;
  .navbar {
    background-color: @colorMainBackground;
    min-height: 75px;
    border: 0;
    border-bottom: 2px solid @colorMain;

    &.navbar-default .navbar-nav > li > a {
      color: @colorFont;
      text-transform: uppercase;
      line-height: 43px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 13px;

      &:hover, &:active {
        color: @colorMain;
      }
    }
    .navbar-brand {
      .brand-add, .brand-add:hover {
        margin-left: 10px;
        padding-left: 10px;
        color: @colorMain;
        border-left: 3px solid @colorFont;
      }
    }
  }
}
